<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net http://dozer.sourceforge.net/schema/beanmapping.xsd">

    <configuration>
        <custom-converters>
            <converter type="com.app.statistics.mapper.converter.impl.TestCustomResultConverter">
                <class-a>com.app.statistics.model.ResultModel</class-a>
                <class-b>com.app.statistics.entity.TestResultEntity</class-b>
            </converter>
        </custom-converters>
    </configuration>

    <mapping map-id="meta">
        <class-a>com.app.statistics.entity.ResultMetaEntity</class-a>
        <class-b>com.app.statistics.model.ResultMetaModel</class-b>
        <field>
            <a>type</a>
            <b>type</b>
        </field>
    </mapping>


</mappings>