<header ng-controller="Header as $ctrl">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">AppStatistics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" ng-class="{'active':$ctrl.headerService.isCurrentPage('dashboard')}">
                    <a class="nav-link" href="#!dashboard">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" ng-class="{'active':$ctrl.headerService.isCurrentPage('result-type-list')}">
                    <a class="nav-link" href="#!result-type">Result types</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
